/* general */

h2 {
  font-weight: 600;
}

/* utilities */

.testo-centrato {
  text-align: center;
}

.box {
  width: 100%;
  height: 300px;
  margin-top: 20px;
  background-size: 420px;
  background-repeat: no-repeat;
  background-position-x: -30px;
  border-radius: 8px;
}

.bianco {
  color: white;
}

.verde {
  color: #1abc9c;
}

.sfondo-verde {
  background-color: #1abc9c;
}

.sfondo-nero {
  background-color: #2c3e50;
}

.mb35 {
  margin-bottom: 35px;
}

.pt35 {
  padding-top: 35px;
}

.isDisabled {
  pointer-events: none;
}

.centra {
  margin-right: auto;
  margin-left: auto;
}

/* header */

.nav-custom {
  height: 100px;
  margin: 0;
  border: none;
  border-radius: 0;
}

.navbar-default .navbar-brand {
  color: white;
  font-weight: 600;
  font-size: 23px;
}
.navbar-default .navbar-nav > li > a {
  font-size: 15px;
  color: white;
  font-weight: 600;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #1abc9c;
}

/* jumbotron */

.jumbotron {
  height: 680px;
}

.jumbotron img {
  width: 25%;
  padding-top: 50px;
}

.jumbotron h2 {
  font-size: 350%;
}

.stella {
  height: 50px;
  width: 700px;
}

.riga {
  display: inline-block;
  width: 110px;
  height: 20px;
  border-top: 4px solid #fff;
  margin-top: 20px;
}

.icona-stella {
  font-size: 30px;
  margin: 0 20px;
  position: relative;
  bottom: 4px;
}

.ruoli p {
  font-size: 26px;
  margin-top: 20px;
}

/* portfolio */

.portfolio .stella {
  padding-bottom: 120px;
}

.riga-nera {
  display: inline-block;
  width: 110px;
  height: 20px;
  border-top: 4px solid black;
  margin-top: 20px;
}

.portfolio .box:hover {
  opacity: 0.6;
}

.casa {
  background-image: url("../img/cabin.png");
}

.torta {
  background-image: url("../img/cake.png");
}

.circo {
  background-image: url("../img/circus.png");
}

.game {
  background-image: url("../img/game.png");
}

.safe {
  background-image: url("../img/safe.png");
}

.sottomarino {
  background-image: url("../img/submarine.png");
}

/* about */

.about {
  height: 600px;
}

.testo {
  height: 200px;
  width: 500px;
  margin-top: 70px;
  margin-right: 42px;
  margin-left: 42px;
  font-size: 21px;
  text-align: left;
}

.btn-download {
  background-color: #1abc9c;
  padding: 10px 25px;
  border-color: white;
  font-size: 30px;
  margin-top: 70px;
}

/* contatti */

.contatti {
  height: 700px;
}

.form-control {
  border: none;
  border-bottom: 2px solid #e2e2e2;
  border-radius: 0;
  box-shadow: none;
}

.form-control:focus {
  box-shadow: none;
}

.btn-send {
  float: left;
  padding: 10px 15px;
  background-color: #1abc9c;
  border-color: #1abc9c;
}

.form-control::placeholder {
  color: black;
}

/* footer */

.cerchio-bianco {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 2px solid white;
  display: inline-block;
  margin-right: 10px;
  padding: 11px;
  color: #fff;
}

.cerchio-bianco:hover {
  background-color: #fff;
  color: #3a546d;
}

.top-footer {
  background-color: #3a546d;
  height: 150px;
}

.top-footer .box {
  height: 80px;
  width: 90%;
}

.giallo a:hover {
  color: yellow;
}

.bottom-footer {
  height: 70px;
}

.bottom-footer .box {
  height: 30px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
